<header class="bg-gray-900 text-gray-200 py-4 px-6 fixed top-0 w-full z-50">
  <div class="relative flex items-center justify-between">

    <div class="flex items-center space-x-2">
      <span class="text-green-500 font-mono text-xl">&gt_</span>
      <span class="text-green-500 font-mono text-xl">~/daviddom.dev</span>
    </div>

    <nav class="hidden md:flex items-center space-x-6 text-lg absolute left-1/2 -translate-x-1/2">
      <a href="#home" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /inicio
      </a>
      <a href="#sobre_mi" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /sobre_mi
      </a>
      <a href="#proyectos" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /proyectos
      </a>
      <a href="#tecnologias" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /tecnologias
      </a>
      <a href="#experiencia" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /experiencia
      </a>
      <a href="#contacto" class="hover:text-green-500 transition-colors duration-200 flex items-center">
        <span class="mr-1">&rarr;</span> /contacto
      </a>
    </nav>
  </div>
</header>
