<section
  class="bg-gray-900 text-gray-200 py-24 flex flex-col items-start justify-center min-h-[100vh] md:min-h-[100vh] px-6 md:px-12 lg:px-24"
>
  <div class="font-mono text-base md:text-lg text-gray-400 mb-4">
    daviddom@dev:~$ <span class="text-green-500">whoami</span>
  </div>
  <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold mb-8 leading-tight">
    Hola, soy <span class="text-green-500">David</span>
    <span class="text-gray-500">//</span>
    <br />
    <span class="text-cyan-500">software_developer</span>
  </h1>
  <div class="font-mono text-xl md:text-2xl text-gray-400">
    <span class="text-green-500">&gt;</span> echo 'Estudiante, programador autodidacta
    y auxiliar docente.'
  </div>
  <div class="font-mono text-base md:text-lg text-green-500 mt-10">
    ~/proyectos/portafolio
    <span class="animate-pulse text-neonGreen">█</span>
  </div>
</section>
